#!/usr/bin/env bash
[Unit]
Description=turnLedsOff

[Service]
WorkingDirectory=/home/pi/WeatherPi/Modules/
ExecStart=/home/pi/WeatherPi/Modules/clear.py
ExecStop=/home/pi/WeatherPi/Modules/clear.py
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=notell
User=root
Group=root
Environment=NODE_ENV=production

[Install]
WantedBy=multi-user.target
