#!/usr/bin/env bash
[Unit]
Description=WeatherPi
Wants=network-online.target
After=network-online.target

[Service]
WorkingDirectory=/home/pi/WeatherPi/
ExecStartPre=/home/pi/WeatherPi/Modules/clear.py
ExecStart=/home/pi/WeatherPi/WeatherPi.py
ExecStopPost=/home/pi/WeatherPi/Modules/clear.py
Restart=always
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=notell
User=root
Group=root
Environment=NODE_ENV=production

[Install]
WantedBy=multi-user.target