#!/usr/bin/env bash
[Unit]
Description=WeatherPi
Wants=network-online.target
After=network.target network-online.target

[Service]
WorkingDirectory=/home/pi/WeatherPi/
ExecStart=/home/pi/WeatherPi/WeatherPi.py
Restart=always
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=notell
User=root
Group=root
Environment=NODE_ENV=production

[Install]
WantedBy=multi-user.target