{% extends "base.html" %}

{% block sensors %}active{% endblock %}

{% block title %}
    Sensors Dashboard
{% endblock %}

{% block description %}
    Dashboard for all data from sensor nodes
{% endblock %}

{% block main %}
    <main role="main" class="inner mt-3">
        {% if sensor_data %}
            <div class="cover-container text-white">
                <div class="card-group">
                    <div class="card text-white bg-dark">
                        <div class="card-header text-center">
                            <span class="card-title">Wohnzimmer</span>
                        </div>
                        <div class="card-body">
                            <table class="table table-dark ">
                                <tbody>
                                {% for key, value in sensor_data['Wohnzimmer'].iteritems() %}
                                    {% if key == 'Updated' %}
                                    {% else %}
                                        <tr>
                                            <th scope="row">{{ key.decode('utf-8') }}</th>
                                            <td class="text-right">{{ value }}</td>
                                        </tr>
                                    {% endif %}
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted">Letztes Update vor {{ sensor_data['Wohnzimmer']['Updated'] }} min
                            </small>
                        </div>
                    </div>
                </div>

                <div class="card-group">

                    <div class="card text-white bg-dark">
                        <div class="card-header text-center">
                            <span class="card-title">Kinderzimmer</span>
                        </div>
                        <div class="card-body">
                            <table class="table table-dark ">
                                <tbody>
                                {% for key, value in sensor_data['Kinderzimmer'].iteritems() %}
                                    {% if key == 'Updated' %}
                                    {% else %}
                                        <tr>
                                            <th scope="row">{{ key.decode('utf-8') }}</th>
                                            <td class="text-right">{{ value }}</td>
                                        </tr>
                                    {% endif %}
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted">Letztes Update vor {{ sensor_data['Kinderzimmer']['Updated'] }} min
                            </small>
                        </div>
                    </div>

                    <div class="card text-white bg-dark">
                        <div class="card-header text-center">
                            <span class="card-title">Schlafzimmer</span>
                        </div>
                        <div class="card-body">
                            <table class="table table-dark ">
                                <tbody>
                                {% for key, value in sensor_data['Schlafzimmer'].iteritems() %}
                                    {% if key == 'Updated' %}
                                    {% else %}
                                        <tr>
                                            <th scope="row">{{ key.decode('utf-8') }}</th>
                                            <td class="text-right">{{ value }}</td>
                                        </tr>
                                    {% endif %}
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted">Letztes Update vor {{ sensor_data['Schlafzimmer']['Updated'] }} min
                            </small>
                        </div>
                    </div>

                </div>
                <div class="card-group">
                    <div class="card text-white bg-dark">
                        <div class="card-header text-center">
                            <span class="card-title">Balkon</span>
                        </div>
                        <div class="card-body">
                            <table class="table table-dark ">
                                <tbody>
                                {% for key, value in sensor_data['Balkon'].iteritems() %}
                                    {% if key == 'Updated' %}
                                    {% else %}
                                        <tr>
                                            <th scope="row">{{ key.decode('utf-8') }}</th>
                                            <td class="text-right">{{ value }}</td>
                                        </tr>
                                    {% endif %}
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted">Letztes Update vor {{ sensor_data['Balkon']['Updated'] }} min
                            </small>
                        </div>
                    </div>
                </div>

                <div class="card-group">
                    <div class="card text-white text-center bg-dark">
                        <div class="card-body">
                            <button type="button" class="btn btn-primary" onClick="refreshPage()">Reload</button>
                        </div>
                    </div>
                </div>

            </div>
        {% else %}
            <h1 class="cover-heading">No Data</h1>
            <p class="lead">please try again later</p>
        {% endif %}
    </main>
{% endblock %}

{% block footer %}
    {{ super() }}
{% endblock %}

{% block scripts %}
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script>
        function refreshPage() {
            window.location.reload();
        }
    </script>
{% endblock %}